<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        <textarea id="chat_text" cols="80" rows="30"> </textarea><br>
        <input id="input" type="text" size="88"><br>
        <input id="submit" type="button" value="Send">


        <div id="user-hello" ></div>


        {{ room_name|json_script:"room_name" }}
        <script>
            
            document.querySelector('#submit').onclick=function(e){
                const messageInput=document.querySelector('#input');
                const message=messageInput.value;
                chatSocket.send(JSON.stringify({
                    'message':message,
                }));
                messageInput.value='';
            };
            
            
            
            const roomname=JSON.parse(document.getElementById('room_name').textContent);

            const chatSocket=new WebSocket(
                'ws://'+
                window.location.host +
                '/ws/chat/' +
                roomname +
                '/'
            );

            chatSocket.onmessage=function(e){
                const data = JSON.parse(e.data);
                console.log(data)
                document.querySelector('#user-hello').innerHTML=(data.tester)
            }


        </script>
        
        <script src="" async defer></script>
    </body>
</html>