<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    </head>
    <body>
        
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
                            <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="input" type="text"></br>
                        </div>
                        <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                    </form>
                </div>
            </div>
        </div>


        {{ room_name|json_script:"room_name" }}
        <script>
            
            document.querySelector('#submit').onclick=function(e){
                const messageInput=document.querySelector('#input');
                const message=messageInput.value;
                chatSocket.send(JSON.stringify({
                    'message':message,
                }));
                messageInput.value='';
            };
            
            
            
            const roomname=JSON.parse(document.getElementById('room_name').textContent);

            const chatSocket=new WebSocket(
                'ws://'+
                window.location.host +
                '/ws/chat/' +
                roomname +
                '/'
            );

            chatSocket.onmessage=function(e){
                const data = JSON.parse(e.data);
                console.log(data)
                    
                document.querySelector('#chat-text').value += (data.message + '\n')
            }


        </script>
        
        <script src="" async defer></script>
    </body>
</html>